body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-style: normal;
}
#header {
  display: flex;
  justify-content: space-around;

  height: 8vh;
  border: 0.5px solid #e5e7eb;
  border-left: 0;
  border-right: 0;
  margin: 0;
}

.profile {
  background-color: #150861;
  width: 40px;
  height: 30px;
  padding: 5px;
  border-radius: 999px;

  display: flex;
  justify-content: center;
  align-items: center;     
}

.profile p {
  color: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 800;
  font-size: 1.25rem;
  font-family: Poppins;
}
.header-content-1,
.header-content-2 {
  display: flex;
  gap: 50px;
  align-items: center;
}
.search {
  border: 1px solid #e5e7eb;
  display: flex;
  border-radius: 10px;
  min-width: 250px;
  box-sizing: border-box;
  padding: 10px 15px;
  gap: 2px;
 
}

input::placeholder {
  font-size: 14px;
  color:lab(35.48% 0.81 0.28);
}

.search > svg{
color:lab(41.8875% -4.09435 -17.2927);
}

span {
  font-family: Lato, sans-serif;
  font-weight: 900;
}
.menu-items{
  display: flex;
  font-family: Lato, sans-serif;
  gap: 20px;
}
input {
  outline: none;
  border: none;
  background: none;
}

#hero {
  display: flex;
  font-family:
    Lato,
    Lato Fallback;

  font-weight: 600;
  line-height: 1.1;
  gap: 5%;
  align-items: center;
  width: 100%;
  margin-top: 3%;
  justify-content: center;
}

.hero-content {
  display: flex;
  padding-left: 60px;
  gap: 10px;
  flex-direction: column;
}
img {
  max-width: 90%;
  min-height: 80%;

}

.heading {
  color: rgb(0, 26, 112);
  font-size: 70px;

  flex-wrap: wrap;
  font-family:
    Lato,
    Lato Fallback;
  font-weight: 600;
}

.sub-heading {
  font-family: "Geist Sans", "Inter", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  color: #60646b;
}

.tag {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 8px 12px;
  white-space: nowrap;
  height: 1%;
  box-sizing: border-box;
  border: 1px dashed #bdbdbd;
  gap: 12px;
  border-radius: 9999px;
}

.active {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background-color: #10b0a7;
}
.status-tag {
  font-size: 14px;
  font-family:
    Lato,
    Lato Fallback;
  color: lab(28.7% 1.26 0.45);
}


.button {
  display: flex;

  gap: 20px;
  text-align: center;
}
.button-2,
.button-1 {
  border-radius: 10px;
  width: 150px;
  height: 20px;
  padding: 30px;
  border: 1px solid gray;
  padding: 12px;
}

.button-2 {
  background-color: lab(11.0101 14.3499 -42.1491);
  color: #e5e7eb;
}

#hero-2 {
  display: flex;
  flex-wrap: wrap;

  margin-top: 80px;
  min-width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.highlights {
  display: flex;
  width: 1240px;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: lab(11.0101 14.3499 -42.1491);
  min-height: 160px;
  padding: 20px;
  border-radius: 20px 140px 20px 20px;
}
.svg-background {
  background-color: #babaffb2;
  padding: 10px;
  border-radius: 0px 15px 0px 15px;
}

.line {
  width: 2px;
  max-height: 10vh;
  margin-top: 1%;

  background-color: #e5e7eb;
}

.icon-num {
  display: flex;

  gap: 20px;
  box-sizing: border-box;
  padding: 2px;
  align-items: center;
}

.num-word {
  color: lab(90.952% 0 -0.0000119209);
  font-size: 40px;
  font-weight: 500;
  font-family:
    Lato,
    Lato Fallback;
  white-space: nowrap;
}
.word {
  color: #e5e5e5;
  font-size: 16px;

  font-family:
    Lato,
    Lato Fallback;
}

.job-ready-highlights {
  display: flex;
  padding: 30px 30px 60px 30px;
  flex-direction: column;
  gap: 15px;
  background-color: lab(61.2815% -53.312 -0.356901);
  width: 750px;
  box-sizing: border-box;
  height: 244px;
  position: relative;
  border-radius: 10px 40px 10px 40px;
}
#Personally-highlights {
  background-color: lab(11.0101% 14.3499 -42.1491);
  max-width: 480px;
  height: 244px;
  box-sizing: border-box;
  padding: 30px;
  position: relative;
  border-radius: 10px 40px 10px 40px;
}

.brick-pattern {
  position: absolute;
  inset: 0;
  width: 100%;

  height: 98%;
}
#highlights-2 {
  margin-top: 25px;
  box-sizing: border-box;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  display: flex;
}

.job-heading {
  color: lab(98.26% 0 0);
  font-weight: 600;
  font-size: 36px;
  font-family:
    Lato,
    Lato Fallback;
}
.job-heading-2 {
  color: lab(98.26% 0 0);
  font-size: 18px;
  font-weight: 600;
  font-family:
    Lato,
    Lato Fallback;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.button-style {
  border: 1px solid rgb(241, 237, 237);
  min-width: fit-content;
  max-height: 15px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  font-family:
    Lato,
    Lato Fallback;
  border-radius: 999px;
  color: lab(61.2815% -53.312 -0.356901);
}

.presonally {
  display: flex;
  padding: 30px;
  gap: 10px;
  flex-direction: column;
}

@media(max-width:1025px)
{
  .search{
    display: none;
  }
  .menu-items{
    display: none;
  }
}
@media(max-width:1329px){
   .sub-heading > br{
    display: none;
  }

#header{
  padding: 0px 30px ;

  justify-content: space-between;
}

}
.button-2{
  display: flex;
  white-space: nowrap;
  justify-content: center;
  gap: 5px;
}

@media (max-width: 1280px) {
   
  #hero-2 {
    display: flex;
    margin-top: 80px;
    max-width: fit-content;
    max-height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .highlights {
  display: flex;
 width: 95vw;
 gap: 20px;
height: 21vh;
 padding: 30px;  
  background-color: lab(11.0101 14.3499 -42.1491);
  border-radius: 20px 140px 20px 20px;
}
 

  #Personally-highlights {
    background-color: lab(11.0101% 14.3499 -42.1491);
    max-width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    padding: 50px;
  
    border-radius: 10px 40px 10px 40px;
  }

  .job-ready-highlights {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 15px;
    background-color: lab(61.2815% -53.312 -0.356901);
    max-width: fit-content;
    height: fit-content;
    box-sizing: border-box;

    position: relative;
    border-radius: 10px 40px 10px 40px;
  }

  #highlights-2 {
    margin-top: 25px;
    box-sizing: border-box;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    display: flex;
    min-height: fit-content;
  }
  .icon-num{
 max-height:100px;
 margin-top: 20px;
    display: flex;
  
  }

  .line{
    margin-top: 2%;
  }
 
 
}

@media (min-width: 640px) and (max-width: 767px){
  .highlights{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  width: 97vw;
  height: 40vh;
  }

  .sub-heading > br{
    display: none;
  }


}





@media(max-width:640px){
  body{
    overflow-x: hidden;
  }
 .hero-content {
  display: flex;
width: 100%;
  gap: 10px;
justify-content: center;
align-items: center;

 
}

  
   .highlights{
    height: 44vh;
    background-color: lab(11.0101 14.3499 -42.1491);
    min-width:40vw;

    gap: 10px;
    flex-direction: column;
  


}
br{
  display: none;
}
.sub-heading{
  text-align: center;
  flex-wrap: wrap;
  min-width: fit-content;
  padding-right: 30px;
}
.heading{
  text-align: center;
}

img{
    padding-left: 40px;
}

.heading {
  color: rgb(0, 26, 112);
  font-size: 36px;
  font-family:
    Lato,
    Lato Fallback;
  font-weight: 600;
}
   .highlights{
    flex-direction: column;
   }
   .line {
  width:100%;
  height: 2px;
  margin: 0px 20px 0px 0px;
  background-color: #e5e7eb;
}

#highlights-2{
  flex-wrap: wrap;
}

#hero{
  flex-direction: column;
  margin-top: 80px;
  gap: 50px;
}

}



@media(max-width:400px){
  .highlights{
    height: 55vh;

    min-width:40vw;
  padding: 20px;
    gap: 10px;
    flex-direction: column;
  


}
.button-2{
margin-right: 100px;
max-width: 100px;;
min-height:fit-content;
gap:1px;
align-items: center;
 display: flex;
 background-color: lab(11.0101 14.3499 -42.1491);
 flex-wrap: wrap;


}
.button-1{
  margin-left: 50px;
  max-width: 100px;


}

}